<<<<<<<< HEAD:.netCore/Razor/Neha/Project Activity/Employe_Activity/obj/Debug/net8.0/scopedcss/projectbundle/Employe_Activity.bundle.scp.css
/* _content/Employe_Activity/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fcaykc9xxu] {
========
/* _content/DateAndTime/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lhv4xy4apo] {
>>>>>>>> 848f2a09c08fdb29e43f3d28636ce26316eeb6df:.netCore/Razor/Shemeera/Activity/DateAndTime/DateAndTime/obj/Debug/net8.0/scopedcss/projectbundle/DateAndTime.bundle.scp.css
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

<<<<<<<< HEAD:.netCore/Razor/Neha/Project Activity/Employe_Activity/obj/Debug/net8.0/scopedcss/projectbundle/Employe_Activity.bundle.scp.css
a[b-fcaykc9xxu] {
  color: #0077cc;
}

.btn-primary[b-fcaykc9xxu] {
========
a[b-lhv4xy4apo] {
  color: #0077cc;
}

.btn-primary[b-lhv4xy4apo] {
>>>>>>>> 848f2a09c08fdb29e43f3d28636ce26316eeb6df:.netCore/Razor/Shemeera/Activity/DateAndTime/DateAndTime/obj/Debug/net8.0/scopedcss/projectbundle/DateAndTime.bundle.scp.css
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<<< HEAD:.netCore/Razor/Neha/Project Activity/Employe_Activity/obj/Debug/net8.0/scopedcss/projectbundle/Employe_Activity.bundle.scp.css
.nav-pills .nav-link.active[b-fcaykc9xxu], .nav-pills .show > .nav-link[b-fcaykc9xxu] {
========
.nav-pills .nav-link.active[b-lhv4xy4apo], .nav-pills .show > .nav-link[b-lhv4xy4apo] {
>>>>>>>> 848f2a09c08fdb29e43f3d28636ce26316eeb6df:.netCore/Razor/Shemeera/Activity/DateAndTime/DateAndTime/obj/Debug/net8.0/scopedcss/projectbundle/DateAndTime.bundle.scp.css
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<<< HEAD:.netCore/Razor/Neha/Project Activity/Employe_Activity/obj/Debug/net8.0/scopedcss/projectbundle/Employe_Activity.bundle.scp.css
.border-top[b-fcaykc9xxu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fcaykc9xxu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fcaykc9xxu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fcaykc9xxu] {
========
.border-top[b-lhv4xy4apo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lhv4xy4apo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lhv4xy4apo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lhv4xy4apo] {
>>>>>>>> 848f2a09c08fdb29e43f3d28636ce26316eeb6df:.netCore/Razor/Shemeera/Activity/DateAndTime/DateAndTime/obj/Debug/net8.0/scopedcss/projectbundle/DateAndTime.bundle.scp.css
  font-size: 1rem;
  line-height: inherit;
}

<<<<<<<< HEAD:.netCore/Razor/Neha/Project Activity/Employe_Activity/obj/Debug/net8.0/scopedcss/projectbundle/Employe_Activity.bundle.scp.css
.footer[b-fcaykc9xxu] {
========
.footer[b-lhv4xy4apo] {
>>>>>>>> 848f2a09c08fdb29e43f3d28636ce26316eeb6df:.netCore/Razor/Shemeera/Activity/DateAndTime/DateAndTime/obj/Debug/net8.0/scopedcss/projectbundle/DateAndTime.bundle.scp.css
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
