body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

#button:hover{
    background-color: blue;
    transition:   3s;
    color: brown;
    
}