body
{
    width: 17%;
    height: 181px;
    border: 2px solid gray;
}
th
{
    background-color: rgb(158, 147, 147);
    border-radius: 4px;
}
td
{
    border-left: 2px solid  rgb(158, 147, 147);;
    border-right: 2px solid rgb(158, 147, 147);;
    border-top: 0px;
    border-bottom: 0px;
}
.tdblue
{
    border-bottom: 2px solid blue;
}
.name,#name
{
    color: blue;
}